.camera {
  height: 480px;
  width: 640px;
  background-color: black;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  height: 480px;
  width: 640px;
  opacity: .75;
  position: absolute;
  z-index: 1;
  animation: fadeIn 3s linear;
}

.emotions {
  bottom: 0px;
  right: 0px;
  opacity: 1;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  animation: fadeIn 3s linear;
  text-align: left;
  padding: 10px;
}

button {
  min-height: 20px;
  min-width: 20px;
  background-color: #414a4c;
  color: #ffffff;
  border-radius: 20px;
  margin: 20px;
  animation: fadeIn 3s linear;
}

button:focus {outline:0;}

@keyframes fadeIn {
  0% { opacity: 1 }
  100% { opacity: .75 }
}
