.sky {
  background-color: #0e1111;
  position: relative;
}

.star {
  background-color: #fff;
  opacity: 1;
  z-index: -1;
  position: absolute;
  border-radius: 2px;
}


@keyframes fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}
